body{
    font-weight: bold;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li{
    display: inline;
    margin-right: 20px;
}

.it li{
    display: block;
    line-height: 30px;
}
.it li span{
    display: block
}